#### 写出导入pandas的语句，并且给pandas别名为pd。

In [1]:
import pandas as pd

#### 创建一个叫s1的Series，里面包含元素-1.2、3.7、2.5、-8.2、6.3。创建后进行输出。

In [5]:
s1 = pd.Series([-1.2,3.7,2.5,-8.2,6.3])

#### 打印s1的所有索引以及所有元素值。

In [10]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
s1.values

array([-1.2,  3.7,  2.5, -8.2,  6.3])

#### 创建一个叫s2的Series，里面包含元素1、2、3、4、5，并且对应索引5、4、3、2、1。创建后进行输出。

In [13]:
s2 = pd.Series([1,2,3,4,5],
               index = [5,4,3,2,1])

#### 输出s2里按位置顺序排在第2个的元素。

In [19]:
s2.iloc[1]

np.int64(2)

#### 输出s2里按标签对应从5到3（包括3）范围内的元素。

In [21]:
s2.loc[5:3]

5    1
4    2
3    3
dtype: int64

#### 通过一个字典来创建Series s3。字典的键为：小李、小陈、小张、小曾、小邓，值为82、93、91、78、68。创建后进行输出。

In [29]:
s3 = pd.Series({"小李":82,"小陈":93,"小张":91,"小曾":78,"小邓":68})
s3

小李    82
小陈    93
小张    91
小曾    78
小邓    68
dtype: int64

#### 把s3里小张标签对应的值改为95，再输出s3。

In [30]:
s3["小张"]=95
s3

小李    82
小陈    93
小张    95
小曾    78
小邓    68
dtype: int64

#### 输出s3里所有值大于80且小于90的元素。

In [32]:
s3[(s3 > 80) & (s3 < 90)]

小李    82
dtype: int64