In [1]:
import pandas as pd

In [2]:
name = pd.Series(["小陈", "小李", "小王", "小张", "小赵", "小周"],
                 index=["1", "002", "003", "004", "005", "006"])
gender = pd.Series(["女", "女", "男", "男", "女", "男"],
                index=["006", "005", "004", "003", "002", "1"])
height = pd.Series([172.5, 168.0, 178.2, 181.3, 161.7],
                   index=["1", "002", "003", "004", "005"])

In [3]:
student = pd.DataFrame({'姓名':name,'性别':gender,'身高':height})
student

     姓名 性别     身高
002  小李  女  168.0
003  小王  男  178.2
004  小张  男  181.3
005  小赵  女  161.7
006  小周  女    NaN
1    小陈  男  172.5

### rename方法改索引index和列名columns

### rename里面传入的是一个字典前面的键是原来的索引或列名后面的值是修改后的索引或列名

In [4]:
student.rename(index={'1':'001'})

     姓名 性别     身高
002  小李  女  168.0
003  小王  男  178.2
004  小张  男  181.3
005  小赵  女  161.7
006  小周  女    NaN
001  小陈  男  172.5

### rename方法不会改变原始df

In [5]:
student

     姓名 性别     身高
002  小李  女  168.0
003  小王  男  178.2
004  小张  男  181.3
005  小赵  女  161.7
006  小周  女    NaN
1    小陈  男  172.5

### 重新赋值or传入参数inplace

In [6]:
student.rename(index={'1':'001'},inplace=True)
student

     姓名 性别     身高
002  小李  女  168.0
003  小王  男  178.2
004  小张  男  181.3
005  小赵  女  161.7
006  小周  女    NaN
001  小陈  男  172.5

In [7]:
student=student.rename(index={'1':'001'})
student

     姓名 性别     身高
002  小李  女  168.0
003  小王  男  178.2
004  小张  男  181.3
005  小赵  女  161.7
006  小周  女    NaN
001  小陈  男  172.5

#### rename还可以传入函数或方法作为参数

### 把某列设为索引

In [10]:
student.set_index('姓名',inplace=True)

KeyError: "None of ['姓名'] are in the columns"

### 重设索引

In [9]:
student.reset_index()

   姓名 性别     身高
0  小李  女  168.0
1  小王  男  178.2
2  小张  男  181.3
3  小赵  女  161.7
4  小周  女    NaN
5  小陈  男  172.5

#### 对索引和列名重新排序sort_index